PhraseWidget/Service References/PhraseReference/PhraseService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PopCornOneWebApp.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PopCornOneWebApp.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPhrase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Phrase" nillable="true" type="tns:Phrase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhrase" nillable="true" type="tns:ArrayOfPhrase" />
  <xs:complexType name="Phrase">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutorId" type="xs:int" />
      <xs:element minOccurs="0" name="OriginId" type="xs:int" />
      <xs:element minOccurs="0" name="TranslationId" type="xs:int" />
      <xs:element minOccurs="0" name="phraseId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Phrase" nillable="true" type="tns:Phrase" />
</xs:schema>