PhraseWidget/Service References/PhraseReference/PhraseService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59027/WebServices/PhraseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PopCornOneWebApp.Models" />
  <xs:element name="DisplayPhrases">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayPhrasesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PopCornOneWebApp.Models" minOccurs="0" name="DisplayPhrasesResult" nillable="true" type="q1:ArrayOfPhrase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePhrase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PopCornOneWebApp.Models" minOccurs="0" name="phrase" nillable="true" type="q2:Phrase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePhraseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreatePhraseResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPhrase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PopCornOneWebApp.Models" minOccurs="0" name="phrase" nillable="true" type="q3:Phrase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPhraseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditPhraseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePhrase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePhraseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePhraseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>