PhraseWidget/Service References/PhraseReference/PhraseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PhraseService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59027/WebServices/PhraseService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59027/WebServices/PhraseService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59027/WebServices/PhraseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PopCornOneWebApp.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPhraseService_DisplayPhrases_InputMessage">
    <wsdl:part name="parameters" element="tns:DisplayPhrases" />
  </wsdl:message>
  <wsdl:message name="IPhraseService_DisplayPhrases_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisplayPhrasesResponse" />
  </wsdl:message>
  <wsdl:message name="IPhraseService_CreatePhrase_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePhrase" />
  </wsdl:message>
  <wsdl:message name="IPhraseService_CreatePhrase_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePhraseResponse" />
  </wsdl:message>
  <wsdl:message name="IPhraseService_EditPhrase_InputMessage">
    <wsdl:part name="parameters" element="tns:EditPhrase" />
  </wsdl:message>
  <wsdl:message name="IPhraseService_EditPhrase_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditPhraseResponse" />
  </wsdl:message>
  <wsdl:message name="IPhraseService_DeletePhrase_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePhrase" />
  </wsdl:message>
  <wsdl:message name="IPhraseService_DeletePhrase_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePhraseResponse" />
  </wsdl:message>
  <wsdl:portType name="IPhraseService">
    <wsdl:operation name="DisplayPhrases">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhraseService/DisplayPhrases" message="tns:IPhraseService_DisplayPhrases_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhraseService/DisplayPhrasesResponse" message="tns:IPhraseService_DisplayPhrases_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePhrase">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhraseService/CreatePhrase" message="tns:IPhraseService_CreatePhrase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhraseService/CreatePhraseResponse" message="tns:IPhraseService_CreatePhrase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditPhrase">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhraseService/EditPhrase" message="tns:IPhraseService_EditPhrase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhraseService/EditPhraseResponse" message="tns:IPhraseService_EditPhrase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePhrase">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhraseService/DeletePhrase" message="tns:IPhraseService_DeletePhrase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhraseService/DeletePhraseResponse" message="tns:IPhraseService_DeletePhrase_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPhraseService" type="tns:IPhraseService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DisplayPhrases">
      <soap:operation soapAction="http://tempuri.org/IPhraseService/DisplayPhrases" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePhrase">
      <soap:operation soapAction="http://tempuri.org/IPhraseService/CreatePhrase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditPhrase">
      <soap:operation soapAction="http://tempuri.org/IPhraseService/EditPhrase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePhrase">
      <soap:operation soapAction="http://tempuri.org/IPhraseService/DeletePhrase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PhraseService">
    <wsdl:port name="BasicHttpBinding_IPhraseService" binding="tns:BasicHttpBinding_IPhraseService">
      <soap:address location="http://localhost:59027/WebServices/PhraseService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>