LanguageWidget/Service References/LanguageReference/LanguageService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LanguageService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59027/WebServices/LanguageService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59027/WebServices/LanguageService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59027/WebServices/LanguageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PopCornOneWebApp.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILanguageService_DisplayLanguages_InputMessage">
    <wsdl:part name="parameters" element="tns:DisplayLanguages" />
  </wsdl:message>
  <wsdl:message name="ILanguageService_DisplayLanguages_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisplayLanguagesResponse" />
  </wsdl:message>
  <wsdl:message name="ILanguageService_CreateLanguage_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateLanguage" />
  </wsdl:message>
  <wsdl:message name="ILanguageService_CreateLanguage_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateLanguageResponse" />
  </wsdl:message>
  <wsdl:message name="ILanguageService_EditLanguage_InputMessage">
    <wsdl:part name="parameters" element="tns:EditLanguage" />
  </wsdl:message>
  <wsdl:message name="ILanguageService_EditLanguage_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditLanguageResponse" />
  </wsdl:message>
  <wsdl:message name="ILanguageService_DeleteLanguage_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLanguage" />
  </wsdl:message>
  <wsdl:message name="ILanguageService_DeleteLanguage_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLanguageResponse" />
  </wsdl:message>
  <wsdl:portType name="ILanguageService">
    <wsdl:operation name="DisplayLanguages">
      <wsdl:input wsaw:Action="http://tempuri.org/ILanguageService/DisplayLanguages" message="tns:ILanguageService_DisplayLanguages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILanguageService/DisplayLanguagesResponse" message="tns:ILanguageService_DisplayLanguages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateLanguage">
      <wsdl:input wsaw:Action="http://tempuri.org/ILanguageService/CreateLanguage" message="tns:ILanguageService_CreateLanguage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILanguageService/CreateLanguageResponse" message="tns:ILanguageService_CreateLanguage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditLanguage">
      <wsdl:input wsaw:Action="http://tempuri.org/ILanguageService/EditLanguage" message="tns:ILanguageService_EditLanguage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILanguageService/EditLanguageResponse" message="tns:ILanguageService_EditLanguage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLanguage">
      <wsdl:input wsaw:Action="http://tempuri.org/ILanguageService/DeleteLanguage" message="tns:ILanguageService_DeleteLanguage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILanguageService/DeleteLanguageResponse" message="tns:ILanguageService_DeleteLanguage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILanguageService" type="tns:ILanguageService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DisplayLanguages">
      <soap:operation soapAction="http://tempuri.org/ILanguageService/DisplayLanguages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateLanguage">
      <soap:operation soapAction="http://tempuri.org/ILanguageService/CreateLanguage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditLanguage">
      <soap:operation soapAction="http://tempuri.org/ILanguageService/EditLanguage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLanguage">
      <soap:operation soapAction="http://tempuri.org/ILanguageService/DeleteLanguage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LanguageService">
    <wsdl:port name="BasicHttpBinding_ILanguageService" binding="tns:BasicHttpBinding_ILanguageService">
      <soap:address location="http://localhost:59027/WebServices/LanguageService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>