PhraseWidget/Service References/TranslationReference/TranslationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59027/WebServices/TranslationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PopCornOneWebApp.Models" />
  <xs:element name="DisplayTranslations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayTranslationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PopCornOneWebApp.Models" minOccurs="0" name="DisplayTranslationsResult" nillable="true" type="q1:ArrayOfTranslation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayTranslationsByPhraseId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="phraseId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayTranslationsByPhraseIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PopCornOneWebApp.Models" minOccurs="0" name="DisplayTranslationsByPhraseIdResult" nillable="true" type="q2:ArrayOfTranslation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTranslation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PopCornOneWebApp.Models" minOccurs="0" name="translation" nillable="true" type="q3:Translation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTranslationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateTranslationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTranslation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PopCornOneWebApp.Models" minOccurs="0" name="translation" nillable="true" type="q4:Translation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTranslationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditTranslationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTranslation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTranslationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTranslationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>