PhraseWidget/Service References/TranslationReference/TranslationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TranslationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59027/WebServices/TranslationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59027/WebServices/TranslationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59027/WebServices/TranslationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PopCornOneWebApp.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITranslationService_DisplayTranslations_InputMessage">
    <wsdl:part name="parameters" element="tns:DisplayTranslations" />
  </wsdl:message>
  <wsdl:message name="ITranslationService_DisplayTranslations_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisplayTranslationsResponse" />
  </wsdl:message>
  <wsdl:message name="ITranslationService_DisplayTranslationsByPhraseId_InputMessage">
    <wsdl:part name="parameters" element="tns:DisplayTranslationsByPhraseId" />
  </wsdl:message>
  <wsdl:message name="ITranslationService_DisplayTranslationsByPhraseId_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisplayTranslationsByPhraseIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITranslationService_CreateTranslation_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTranslation" />
  </wsdl:message>
  <wsdl:message name="ITranslationService_CreateTranslation_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTranslationResponse" />
  </wsdl:message>
  <wsdl:message name="ITranslationService_EditTranslation_InputMessage">
    <wsdl:part name="parameters" element="tns:EditTranslation" />
  </wsdl:message>
  <wsdl:message name="ITranslationService_EditTranslation_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditTranslationResponse" />
  </wsdl:message>
  <wsdl:message name="ITranslationService_DeleteTranslation_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTranslation" />
  </wsdl:message>
  <wsdl:message name="ITranslationService_DeleteTranslation_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTranslationResponse" />
  </wsdl:message>
  <wsdl:portType name="ITranslationService">
    <wsdl:operation name="DisplayTranslations">
      <wsdl:input wsaw:Action="http://tempuri.org/ITranslationService/DisplayTranslations" message="tns:ITranslationService_DisplayTranslations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITranslationService/DisplayTranslationsResponse" message="tns:ITranslationService_DisplayTranslations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisplayTranslationsByPhraseId">
      <wsdl:input wsaw:Action="http://tempuri.org/ITranslationService/DisplayTranslationsByPhraseId" message="tns:ITranslationService_DisplayTranslationsByPhraseId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITranslationService/DisplayTranslationsByPhraseIdResponse" message="tns:ITranslationService_DisplayTranslationsByPhraseId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTranslation">
      <wsdl:input wsaw:Action="http://tempuri.org/ITranslationService/CreateTranslation" message="tns:ITranslationService_CreateTranslation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITranslationService/CreateTranslationResponse" message="tns:ITranslationService_CreateTranslation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditTranslation">
      <wsdl:input wsaw:Action="http://tempuri.org/ITranslationService/EditTranslation" message="tns:ITranslationService_EditTranslation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITranslationService/EditTranslationResponse" message="tns:ITranslationService_EditTranslation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTranslation">
      <wsdl:input wsaw:Action="http://tempuri.org/ITranslationService/DeleteTranslation" message="tns:ITranslationService_DeleteTranslation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITranslationService/DeleteTranslationResponse" message="tns:ITranslationService_DeleteTranslation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITranslationService" type="tns:ITranslationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DisplayTranslations">
      <soap:operation soapAction="http://tempuri.org/ITranslationService/DisplayTranslations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisplayTranslationsByPhraseId">
      <soap:operation soapAction="http://tempuri.org/ITranslationService/DisplayTranslationsByPhraseId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTranslation">
      <soap:operation soapAction="http://tempuri.org/ITranslationService/CreateTranslation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditTranslation">
      <soap:operation soapAction="http://tempuri.org/ITranslationService/EditTranslation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTranslation">
      <soap:operation soapAction="http://tempuri.org/ITranslationService/DeleteTranslation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TranslationService">
    <wsdl:port name="BasicHttpBinding_ITranslationService" binding="tns:BasicHttpBinding_ITranslationService">
      <soap:address location="http://localhost:59027/WebServices/TranslationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>