PopCornOneCore/Service References/TranslationReference/TranslationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PopCornOneWebApp.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PopCornOneWebApp.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTranslation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Translation" nillable="true" type="tns:Translation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTranslation" nillable="true" type="tns:ArrayOfTranslation" />
  <xs:complexType name="Translation">
    <xs:sequence>
      <xs:element minOccurs="0" name="LanguageId" type="xs:int" />
      <xs:element minOccurs="0" name="Lexicon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhraseByDefault" type="xs:boolean" />
      <xs:element minOccurs="0" name="PhraseId" type="xs:int" />
      <xs:element minOccurs="0" name="TranslationContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TranslationDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TranslationFirstLetter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TranslationId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Translation" nillable="true" type="tns:Translation" />
</xs:schema>