OriginWidget/Service References/OriginReference/OriginService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OriginService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59027/WebServices/OriginService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59027/WebServices/OriginService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59027/WebServices/OriginService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PopCornOneWebApp.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOriginService_DisplayOrigins_InputMessage">
    <wsdl:part name="parameters" element="tns:DisplayOrigins" />
  </wsdl:message>
  <wsdl:message name="IOriginService_DisplayOrigins_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisplayOriginsResponse" />
  </wsdl:message>
  <wsdl:message name="IOriginService_CreateOrigin_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrigin" />
  </wsdl:message>
  <wsdl:message name="IOriginService_CreateOrigin_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOriginResponse" />
  </wsdl:message>
  <wsdl:message name="IOriginService_EditOrigin_InputMessage">
    <wsdl:part name="parameters" element="tns:EditOrigin" />
  </wsdl:message>
  <wsdl:message name="IOriginService_EditOrigin_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditOriginResponse" />
  </wsdl:message>
  <wsdl:message name="IOriginService_DeleteOrigin_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrigin" />
  </wsdl:message>
  <wsdl:message name="IOriginService_DeleteOrigin_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOriginResponse" />
  </wsdl:message>
  <wsdl:portType name="IOriginService">
    <wsdl:operation name="DisplayOrigins">
      <wsdl:input wsaw:Action="http://tempuri.org/IOriginService/DisplayOrigins" message="tns:IOriginService_DisplayOrigins_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOriginService/DisplayOriginsResponse" message="tns:IOriginService_DisplayOrigins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrigin">
      <wsdl:input wsaw:Action="http://tempuri.org/IOriginService/CreateOrigin" message="tns:IOriginService_CreateOrigin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOriginService/CreateOriginResponse" message="tns:IOriginService_CreateOrigin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditOrigin">
      <wsdl:input wsaw:Action="http://tempuri.org/IOriginService/EditOrigin" message="tns:IOriginService_EditOrigin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOriginService/EditOriginResponse" message="tns:IOriginService_EditOrigin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOrigin">
      <wsdl:input wsaw:Action="http://tempuri.org/IOriginService/DeleteOrigin" message="tns:IOriginService_DeleteOrigin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOriginService/DeleteOriginResponse" message="tns:IOriginService_DeleteOrigin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOriginService" type="tns:IOriginService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DisplayOrigins">
      <soap:operation soapAction="http://tempuri.org/IOriginService/DisplayOrigins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrigin">
      <soap:operation soapAction="http://tempuri.org/IOriginService/CreateOrigin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditOrigin">
      <soap:operation soapAction="http://tempuri.org/IOriginService/EditOrigin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrigin">
      <soap:operation soapAction="http://tempuri.org/IOriginService/DeleteOrigin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OriginService">
    <wsdl:port name="BasicHttpBinding_IOriginService" binding="tns:BasicHttpBinding_IOriginService">
      <soap:address location="http://localhost:59027/WebServices/OriginService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>