OriginWidget/Service References/OriginReference/OriginService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PopCornOneWebApp.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PopCornOneWebApp.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOrigin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Origin" nillable="true" type="tns:Origin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrigin" nillable="true" type="tns:ArrayOfOrigin" />
  <xs:complexType name="Origin">
    <xs:sequence>
      <xs:element minOccurs="0" name="OriginId" type="xs:int" />
      <xs:element minOccurs="0" name="OriginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginUrl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Origin" nillable="true" type="tns:Origin" />
</xs:schema>