AutorWidget/Service References/AutorReference/AutorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AutorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59027/WebServices/AutorService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59027/WebServices/AutorService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59027/WebServices/AutorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PopCornOneWebApp.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAutorService_DisplayAutors_InputMessage">
    <wsdl:part name="parameters" element="tns:DisplayAutors" />
  </wsdl:message>
  <wsdl:message name="IAutorService_DisplayAutors_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisplayAutorsResponse" />
  </wsdl:message>
  <wsdl:message name="IAutorService_CreateAutor_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAutor" />
  </wsdl:message>
  <wsdl:message name="IAutorService_CreateAutor_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAutorResponse" />
  </wsdl:message>
  <wsdl:message name="IAutorService_EditAutor_InputMessage">
    <wsdl:part name="parameters" element="tns:EditAutor" />
  </wsdl:message>
  <wsdl:message name="IAutorService_EditAutor_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditAutorResponse" />
  </wsdl:message>
  <wsdl:message name="IAutorService_DeleteAutor_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAutor" />
  </wsdl:message>
  <wsdl:message name="IAutorService_DeleteAutor_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAutorResponse" />
  </wsdl:message>
  <wsdl:portType name="IAutorService">
    <wsdl:operation name="DisplayAutors">
      <wsdl:input wsaw:Action="http://tempuri.org/IAutorService/DisplayAutors" message="tns:IAutorService_DisplayAutors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAutorService/DisplayAutorsResponse" message="tns:IAutorService_DisplayAutors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAutor">
      <wsdl:input wsaw:Action="http://tempuri.org/IAutorService/CreateAutor" message="tns:IAutorService_CreateAutor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAutorService/CreateAutorResponse" message="tns:IAutorService_CreateAutor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditAutor">
      <wsdl:input wsaw:Action="http://tempuri.org/IAutorService/EditAutor" message="tns:IAutorService_EditAutor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAutorService/EditAutorResponse" message="tns:IAutorService_EditAutor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAutor">
      <wsdl:input wsaw:Action="http://tempuri.org/IAutorService/DeleteAutor" message="tns:IAutorService_DeleteAutor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAutorService/DeleteAutorResponse" message="tns:IAutorService_DeleteAutor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAutorService" type="tns:IAutorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DisplayAutors">
      <soap:operation soapAction="http://tempuri.org/IAutorService/DisplayAutors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAutor">
      <soap:operation soapAction="http://tempuri.org/IAutorService/CreateAutor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditAutor">
      <soap:operation soapAction="http://tempuri.org/IAutorService/EditAutor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAutor">
      <soap:operation soapAction="http://tempuri.org/IAutorService/DeleteAutor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AutorService">
    <wsdl:port name="BasicHttpBinding_IAutorService" binding="tns:BasicHttpBinding_IAutorService">
      <soap:address location="http://localhost:59027/WebServices/AutorService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>